/* General Styles */
body {
    background-color: #111111;
    color: #EAEAEA; /* Increased contrast */
    font-family: 'Arial', sans-serif;
}

/* Headings */
h1, h2, h3 {
    color: #6B8E23;
}

/* Sidebar */
.stSidebar {
    background-color: #ffffff;
    padding: 20;
    border-right: 1 solid #ddd;
}

/* Buttons */
.stButton button {
    background-color: #6B8E23;
    color: white;
    border: none;
    padding: 10 20;
    border-radius: 5;
    cursor: pointer;
}
.stButton button:hover {
    background-color: #558B2F; /* Darker green for hover */
    color: white; /* Consistent text color */
}

/* Inputs */
.stTextInput input, .stNumberInput input {
    padding: 10;
    border-radius: 5;
    border: 1 solid #ddd;
    width: 100;
    box-sizing: border-box;
}

/* Expander */
.stExpander {
    background-color: #f8f9fa;
    padding: 15;
    border: 1 solid #ddd;
    border-radius: 5;
    margin-bottom: 10;
}

/* Data Frame */
.stDataFrame {
    margin-top: 20;
}
.stDataFrame table {
    width: 100;
    border-collapse: collapse;
}
.stDataFrame table th, .stDataFrame table td {
    border: 1 solid #ddd;
    padding: 10;
    text-align: left;
}
.stDataFrame table th {
    background-color: #6B8E23;
    color: white;
}
.stDataFrame table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.stDataFrame table tr:hover {
    background-color: #ddd;
}

/* Slider Styles */
.stSlider > div > div {
    background: #ddd ;
    border-radius: 5;
}
.stSlider > div > div > div {
    background-color: #6B8E23 ;
    height: 10;
    border-radius: 5;
}
.stSlider > div > div > div > div {
    background-color: #6B8E23;
    width: 20;
    height: 20;
    border-radius: 50;
    border: 2 solid white ;
    top: -5;
}

/* Remove Gradient */
.stSlider > div > div > div[role="slider"]::-webkit-slider-runnable-track {
    background-color: #6B8E23;
}
.stSlider > div > div > div[role="slider"]::-moz-range-track {
    background-color: #6B8E23;
}
.stSlider > div > div > div[role="slider"]::-ms-track {
    background-color: #6B8E23;
    border-color: transparent;
    color: transparent;
}

/* Set Slider Thumb Color to Green */
.stSlider > div > div > div > div {
    background-color: #6B8E23 ;
    width: 20;
    height: 20;
    border-radius: 50;
    border: 2 solid white ;
    top: -5;
}
.stSlider > div > div > div[role="slider"]::-webkit-slider-thumb {
    background-color: #6B8E23 ;
}
.stSlider > div > div > div[role="slider"]::-moz-range-thumb {
    background-color: #6B8E23 ;
}
.stSlider > div > div > div[role="slider"]::-ms-thumb {
    background-color: #6B8E23;
}
